<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logo"></div>
        <a href="/login"><span class="material-icons-round login">login</span></a>
        <a href="/profile"><span class="material-icons-round account_circle">account_circle</span></a>
        <div class="navBar"></div>
    </header>
    <main>
        <div class="container">
            <div class="mainHeader">
                <button onclick="orderByLatest()">최신순</button>
                <button onclick="orderByStars()">별점순</button>
                <button onclick="orderByViewCount()">조회수</button>
                <a href="/writeRecipe"><span class="material-icons-round edit">edit</span></a>
            </div>
            <div class="recipe">
                <ul id="recipeList">
                    <li id="sample">
                        <a href= "/recipe">
                            <div id="recipeCard">
                                <div id="thumbnail">
                                    <img src="/public" alt="thumbnail">
                                </div>
                                <p id="title">title</p>
                                <div id="stars">
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span>(4.3)</span>
                                </div>
                                <span>리뷰수(123)</span>
                            </div>
                        </a>
                    </li>
                    <li id="sample">
                        <a href= "/recipe">
                            <div id="recipeCard">
                                <div id="thumbnail">
                                    <img src="/public" alt="thumbnail">
                                </div>
                                <p id="title">title</p>
                                <div id="stars">
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span>(4.3)</span>
                                </div>
                                <span>리뷰수(123)</span>
                            </div>
                        </a>
                    </li>
                    <li id="sample">
                        <a href= "/recipe">
                            <div id="recipeCard">
                                <div id="thumbnail">
                                    <img src="/public" alt="thumbnail">
                                </div>
                                <p id="title">title</p>
                                <div id="stars">
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span>(4.3)</span>
                                </div>
                                <span>리뷰수(123)</span>
                            </div>
                        </a>
                    </li>
                    <li id="sample">
                        <a href= "/recipe">
                            <div id="recipeCard">
                                <div id="thumbnail">
                                    <img src="/public" alt="thumbnail">
                                </div>
                                <p id="title">title</p>
                                <div id="stars">
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span>(4.3)</span>
                                </div>
                                <span>리뷰수(123)</span>
                            </div>
                        </a>
                    </li>
                    <li id="sample">
                        <a href= "/recipe">
                            <div id="recipeCard">
                                <div id="thumbnail">
                                    <img src="/public" alt="thumbnail">
                                </div>
                                <p id="title">title</p>
                                <div id="stars">
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span class="material-icons-round star">star</span>
                                    <span>(4.3)</span>
                                </div>
                                <span>리뷰수(123)</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <h3>node.js 프로젝트</h3>
    <a href="/login" id="login">로그인</a>
    <a href="/signup" id="signup">회원가입</a>
    <a href="/profile" id="profile">프로필</a>
    <a href="/recipe" id="recipe">레시피</a>
    <a href="/writeRecipe" id="writeRecipe">레시피 글쓰기</a>
    <footer>
        <div class="companyInfo">
            <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved. </p>
        </div>
    </footer>
</body>

</html>