<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h3>node.js 프로젝트</h3>
        <a href="/login" id="login">로그인</a>
        <a href="/signup" id="signup">회원가입</a>
        <a href="/profile" id="profile">프로필</a>
        <a href="/recipe" id="recipe">레시피</a>
        <a href="/writeRecipe" id="writeRecipe">레시피 글쓰기</a>
    </body>
</html>