<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div id="titleImg"></div>
        <div class="content">  
            <div class="loginBox">
                <form id="loginForm">
                    <input type="email" placeholder="로그인" autofocus>
                    <input type="password" placeholder="비밀번호">
                    <label ><input type="radio" name="loginSs">로그인 상태 유지</label>
                    <button>로그인</button>
                </form>
            </div>
            <div>
                <a href="">아이디 찾기</a>
                <a href="">비밀번호 찾기</a>
                <a href="">회원가입</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="companyInfo">
            <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved. </p>
        </div>
    </footer>
</body>
</html>