<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/CSS/profile.css" />
    <link rel="stylesheet" href="../public/CSS/headerFooter.css" />
    <script defer src="../public/JS/profile.js"></script>
    <script defer src="../public/JS/header.js"></script>  
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="header">
        <a class="logo" href="/">
          <img class="logoImg" src="../public/images/logo.png" alt="" />
        </a>
        <div class="iconBox">
          <div id="logout_div" onclick="logoutFunc()"><span class="material-icons-round logout">logout</span></div>
          <p class="arrowLogout">로그아웃</p>
          <a id="login_a" href="/login"><span class="material-icons-round key">key</span></a>
          <p class="arrowLogin">로그인</p>
          <div id="profile_div" onclick="myPageToggle()"><span class="material-icons-round account_circle">account_circle</span></div>
          <p class="arrowProfile">마이페이지</p>
          <div class="myPageBox" style="display: none;">
            <a href="/profile">개인정보 수정</a>
            <a href="/myrecipe">나의 레시피</a>
          </div>
        </div>
      </div>
      <div class="navBar"></div>
    </header>
    <div class="container">
      <div class="content">
        <h3>개인 정보 수정</h3>
        <form class="profileUpdate">
          <div class="profileBox">
            <input id="read_email" type="text" readonly />
            <input id="now_pwd" type="password" placeholder="현재 비밀번호 [필수]" />
            <p id="pwResultBox"></p>
            <input id="update_Pwd1" oninput="checkPasswords()" type="password" placeholder="변경할 비밀번호 [선택]" />
            <input id="update_Pwd2" oninput="checkPasswords()" type="password" placeholder="변경할 비밀번호 확인 [선택]" />
            <p id="pwdCheck"></p>
            <input id="update_NN" type="text" placeholder="닉네임" />
          </div>
          <div class="profile">
            <div id="profileImg">
              <img id="viewImg" src="" />
            </div>
            <input type="file" id="fileInput" style="display:none;" onchange="fileUploadFunc()">
            <button id="profileBtn" type="button" onclick="document.getElementById('fileInput').click()">파일업로드</button>
          </div>
          <div id="introduceText">
            <textarea id="introduceBox" placeholder="한 줄 자기소개"></textarea>
          </div>
          <div id="btnDiv">
            <button id="UpdateUser" type="button" onclick="updateFunc()">수정 완료</button>
            <button id="deleteUser" type="button" onclick="deleteFunc()">탈퇴</button>
          </div>
        </form>
      </div>
    </div>
    <footer>
      <div class="companyInfo">
        <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
