<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/CSS/profile.css" />
    <link rel="stylesheet" href="../public/CSS/headerFooter.css" />
    <script defer src="../public/JS/profile.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <a class="logo" href="/">
          <img class="logoImg" src="../public/images/logo.png" alt="" />
        </a>
        <div class="iconBox">
          <a href="/login"><span class="material-icons-round login">login</span></a>
          <a href="/profile"><span class="material-icons-round account_circle">account_circle</span></a>
        </div>
      </div>
      <div class="navBar"></div>
    </header>
    <div class="container">
      <div class="content">
        <h3>개인 정보 수정</h3>
        <form class="profileUpdate">
          <div class="profileBox">
            <input id="read_email" type="text" readonly />
            <input id="now_pwd" type="password" placeholder="현재 비밀번호" />
            <input id="update_Pwd" type="password" placeholder="변경할 비밀번호" />
            <input id="update_NN" type="text" placeholder="닉네임" />
          </div>
          <div class="profile">
            <div id="profileImg">
              <img id="viewImg" src="">
            </div>
            <button id="profileBtn" type="button" onclick="imgUploadFunc()">파일업로드</button>
          </div>
          <div id="introduceText">
            <textarea id="introduceBox" placeholder="한 줄 자기소개"></textarea>
          </div>
          <div id="btnDiv">
            <button id="deleteUser">탈퇴</button>
            <button id="UpdateUser">수정 완료</button>
          </div>
          
        </form>
      </div>
    </div>
    <footer>
      <div class="companyInfo">
        <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
