<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <link href="../public/CSS/recipe.css" rel="stylesheet" type="text/css" />
    <link href="../public/CSS/headerFooter.css" rel="stylesheet" type="text/css" />
    <script defer src="../public/JS/purchase.js"></script>
    <link rel="shortcut icon" href="http://www.example.com/myicon.ico" />
    <script defer src="../public/JS/viewCount.js"></script>

</head>

<body>
    <header>
        <div class="header">
            <a class="logo" href="/">
                <img class="logoImg" src="../public/images/logo.png" alt="" />
            </a>
            <div class="iconBox">
                <a href="/login"><span class="material-symbols-rounded login">login</span></a>
                <a href="/profile"><span class="material-symbols-rounded account_circle">account_circle</span></a>
            </div>
        </div>
        <div class="navBar"></div>
    </header>

    <div class="container">
        <div class="between"></div>
        <div id="recipe_info">
            <div id="view-count-info">
                <span class="material-symbols-rounded visibility">visibility</span>
                <p id="view-count"></p>
            </div>
            <div id="thumbnail">
                <img id="recipe-mainImg" src="" alt="Thumbnail" />
            </div>
            <br />
            <h3 id="recipeTitle"></h3>
            <p id="recipe-description"></p>
            <div class="recipe_time">
                <span class="material-symbols-rounded">person</span>
                <span id="recipe-servings"></span>
                <p>인분</p>
                <span id="blank"></span>
                <span class="material-symbols-rounded schedule">schedule</span>
                <span id="recipe-cookingTime"></span>
                <p>분 이내</p>
            </div>
        </div>

        <div id="cooking_ingredients">
            <h3 id="ingredients">재료</h3>
            <div class="ingredients_box"></div>
        </div>
        <br />
        <div id="cookwares">
            <h3 id="cookware">조리도구</h3>
            <div class="cookware_box">
                <div id="cookware_list"></div>
            </div>
        </div>
        <br />
        <div id="cooking_process">
            <h3 id="process">조리 순서</h3>
            <div class="process_box">
                <div id="process_list">
                </div>
            </div>
        </div>
        <br />
        <div id="WriterInfo">
            <h3>레시피 작성자</h3>
            <div class="info_box">
                <div id="profileImg">
                    <img id="writer-profileImg" src="" alt="Profile Image" />
                </div>
                <div class="user_detail">
                    <p id="writer-nickName"></p>
                    <p id="writer-aboutMe"></p>
                </div>
            </div>
        </div>
        <br />
        <div id="review">
            <div class="review_header">
                <div class="review_header_1">
                    <h3>리뷰</h3>
                    <p>(<span id="review-count"></span>개)</p>
                </div>
                <div id="average_stars" class="stars"></div>
                <div id="review_rating_av">평균 별점: 0</div>
            </div>
            <div class="review_box">

                <div class="review_write">
                    <div class="review_photo_upload" onclick="document.getElementById('file_1').click();"
                        style="cursor: pointer">
                        <span class="material-symbols-rounded add">add</span>
                        <input type="file" id="file_1" accept="image/*" style="display: none" />
                    </div>

                    <div class="review_write_info">
                        <div class="rating-container">
                            <p>별점:</p>
                            <div class="stars" id="stars">
                                <span class="star" data-value="1">★</span>
                                <span class="star" data-value="2">★</span>
                                <span class="star" data-value="3">★</span>
                                <span class="star" data-value="4">★</span>
                                <span class="star" data-value="5">★</span>
                            </div>
                        </div>
                        <textarea class="review_2" id="reviewContent" placeholder=" 요리 후기를 남겨주세요!" required></textarea>
                    </div>


                    <div class="review_write_upload">
                        <button type="button" id="submitReview" onclick="updateFunc()">등록</button>
                    </div>
                </div>

                <div id="reviews"></div>
                
            </div>
        </div>
        <a href="/"><span class="material-symbols-rounded">redo</span></a>
    </div>
    <footer>
        <div class="companyInfo">
            <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved.</p>
        </div>
    </footer>
    <script src="../public/JS/recipe.js"></script>
</body>

</html>