<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>회원가입 페이지</h3>
    <form>
        <input type="text" id="userId" placeholder="아이디">
        <input type="password" id="pw" placeholder="비밀번호">
        <input type="text" id="name" placeholder="이름">
        <button type="button">회원가입</button>
    </form>
</body>
</html>