<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <style>
            * {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <!-- rp = recipe -->
        <main>
            <header>
                <div class="logo"></div>
                <a href="/login"><span class="material-icons-round login">login</span></a>
                <a href="/profile"><span class="material-icons-round account_circle">account_circle</span></a>
                <div class="navBar"></div>
            </header>
            <div class="container">
                <form id="writeRp">
                    <div id="infoRp">
                        <h3>레시피 제목</h3>
                        <input type="text" placeholder="제목" />
                        <textarea id="introduceRp" placeholder="레시피 소개"></textarea>
                        <div id="servingBox"><input type="number" placeholder="ex)1" />인분</div>
                        <select id="cookingTime">
                            <% for(let i = 1; i < 31; i++){ %>
                            <option value="<%= i %>"><%= i %> 분</option>
                            <%}%>
                        </select>
                        <div class="writeImg">
                            <div id="imgBox"></div>
                            <button type="button" onclick="fileUploadFunc()">파일업로드</button>
                        </div>
                    </div>
                    <h3>재료</h3>
                    <div id="ingredient">
                        <input type="text" placeholder="재료 입력" />
                        <input type="text" placeholder="계량" />
                        <button type="button" onclick="ingredientFunc()">입력</button>
                        <ul></ul>
                    </div>
                    <h3>조리 도구</h3>
                    <div id="cookingTools">
                        <input type="text" />
                        <button type="button" onclick="cookingToolsFunc()">입력</button>
                        <ul></ul>
                    </div>
                    <h3>조리 순서(최대 5단계)</h3>
                    <div id="cookingStep">
                        <ul>
                            <% for(let i = 1; i <= 5; i++){ %>
                            <li>
                                <div><p><%= i %>.</p></div>
                                <div><textarea></textarea></div>
                                <div onclick="updateCookingStep()"></div>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <button type="button" id="writeRpBtn" onclick="UpdateRpUploadFunc()">레시피 수정</button>
                    <button type="button" id="writeRpBtn" onclick="cancel()">취소</button>
                </form>
            </div>
        </main>
        <footer>
            <div class="companyInfo">
                <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved. </p>
            </div>
        </footer>
    </body>
</html>
