<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="../public/CSS/headerFooter.css">
  <link rel="stylesheet" href="../public/CSS/writeRecipe.css">
  <script defer src="../public/JS/writeRecipe.js"></script>

</head>

<body>
  <!-- rp = recipe -->
  <header>
    <div class="header">
      <a class="logo" href="/">
        <img class="logoImg" src="../public/images/logo.png" alt="" />
      </a>
      <div class="iconBox">
        <a href="/login"><span class="material-icons-round login">login</span></a>
        <a href="/profile"><span class="material-icons-round account_circle">account_circle</span></a>
      </div>
    </div>
    <div class="navBar"></div>
  </header>
  <main>
    <div class="container">
      <form id="writeRp">
        <div id="infoRp">
          <h3>레시피 정보</h3>
          <input type="text" id="title" placeholder="제목" /><br />
          <textarea id="introduceRp" placeholder="레시피 소개"></textarea>
          <div id="cookingInfoBox">
            <div id="servingBox">
              <input type="number" id="servings" />
              <span id="serving">인분</span>
            </div>
            <select id="cookingTime">
              <% for(let i=1; i < 31; i++){ %>
                <option value="<%= i %>">
                  <%= i %>
                </option>
                <%}%>
            </select>
            <span id="minute">분</span>
          </div>
          <div class="uploadImg">
            <div id="imgBox">
              <img id="uploadedImg" src="" alt="MainImg">
            </div>
            <input type="file" id="fileInput" style="display:none;" onchange="fileUploadFunc()">
            <button type="button" onclick="document.getElementById('fileInput').click()">파일업로드</button>
          </div>
        </div>

        <h3>재료</h3>
        <div id="ingredient">
          <div id="ingredientInput">
            <input type="text" id="ingredientName" placeholder="재료 입력" />
            <input type="text" id="ingredientAmount" placeholder="계량 kg/g/1t" />
            <button type="button" onclick="addIngredient()">입력</button>
          </div>
          <ul id="ingredientList"></ul>
        </div>

        <h3>조리 도구</h3>
        <div id="cookingTools">
          <div id="cookingToolInput">
            <input type="text" id="toolName" placeholder="ex)후라이팬" />
            <button type="button" onclick="addCookingTool()">입력</button>
          </div>
          <ul id="cookingToolList"></ul>
        </div>

        <h3>조리 순서(최대 5단계)</h3>
        <div id="cookingStep" class="">
          <div id="StepItem1">
            <p id="StepNum1">1.</p>
            <textarea id="cookingStep1" placeholder="조리 과정을 적어주세요!"></textarea>
            <button type="button" id="upload" onclick="fileUpload()">+</button>
          </div>
          <div id="StepItem1">
            <p id="StepNum1">2.</p>
            <textarea id="cookingStep1" placeholder="조리 과정을 적어주세요!"></textarea>
            <button type="button" id="upload" onclick="fileUpload()">+</button>
          </div>
          <div id="StepItem1">
            <p id="StepNum1">3.</p>
            <textarea id="cookingStep1" placeholder="조리 과정을 적어주세요!"></textarea>
            <button type="button" id="upload" onclick="fileUpload()">+</button>
          </div>
          <div id="StepItem1">
            <p id="StepNum1">4.</p>
            <textarea id="cookingStep1" placeholder="조리 과정을 적어주세요!"></textarea>
            <button type="button" id="upload" onclick="fileUpload()">+</button>
          </div>
          <div id="StepItem1">
            <p id="StepNum1">5.</p>
            <textarea id="cookingStep1" placeholder="조리 과정을 적어주세요!"></textarea>
            <button type="button" id="upload" onclick="fileUpload()">+</button>
          </div>

          <!-- <ul> -->
          <!-- <% for(let i = 1; i <= 5; i++){ %> -->
          <!-- <li> -->
          <!-- <div><p><%= i %>.</p></div> -->
          <!-- <div><textarea placeholder="1"></textarea></div> -->
          <!-- </li> -->
          <!-- <% } %> -->
          <!-- </ul> -->
          <!-- <textarea id="cookingStep1" placeholder="1."></textarea>
                                <button type="button" onclick="UploadCookingStep()">+</button><br />
                        <textarea id="cookingStep1" placeholder="2."></textarea><br />
                        <textarea id="cookingStep1" placeholder="3."></textarea><br />
                        <textarea id="cookingStep1" placeholder="4."></textarea><br />
                        <textarea id="cookingStep1" placeholder="5."></textarea> -->
        </div>
        <button type="button" id="writeRpBtn" onclick="writeRpUploadFunc()">레시피 등록</button>
      </form>
    </div>
  </main>
  <footer>
    <div class="companyInfo">
      <p>COPYRIGHT ⓒ JMT co.,Ltd. All rights reserved. </p>
    </div>
  </footer>
</body>

</html>