@charset "utf-8";
@import url(reset.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    width: 360px;
    min-height: 835px;
    margin: 80px auto 0;
}

.content {
    width: 350px;
    height: 560px;
    margin: 0 auto;
    border: 1.5px solid #fca391;
    border-radius: 15px;
    padding: 16px;
    position: relative;
}

.content > p {
    font-size: 22px;
    text-align: center;
    margin: 30px 0;
    margin-bottom: 30px;
}

.profileUpdate {
    width: 250px;
    height: 420px;
    /* border: 1px solid #333; */
    margin: 0 auto;
    position: relative;
}

.profileUpdate .profileBox {
    width: 100%;
    height: 160px;
    position: relative;
    /* border: 1px solid #333; */
    position: relative;
}

.profileUpdate .profileBox input {
    width: 100%;
    height: 30px;
    border: none;
    border: 1px solid #fca391;
    border-radius: 5px;
    position: relative;
    padding-left: 5px;
}

.profileUpdate .profileBox input:nth-child(2) {
    border: none;
    position: relative;
    border: 1px solid #fca391;
    border-radius: 5px;
    top: 5px;
}

.profileUpdate .profileBox #pwResultBox {
    font-size: 12px;
    position: relative;
    margin-left: 5px;
    top: 6px;
}

.profileUpdate .profileBox #update_Pwd1 {
    border: none;
    border: 1px solid #fca391;
    border-bottom: none;
    position: relative;
    top: 10px;
    border-radius: 5px 5px 0 0;
}
.profileUpdate .profileBox #update_Pwd2 {
    position: relative;
    border: 1px solid #fca391;
    border-radius: 0 0 5px 5px;
    top: 10px;
}

.profileUpdate .profileBox #pwdCheck {
    font-size: 12px;
    position: relative;
    margin-left: 5px;
    top: 12px;
}
.profileUpdate .profileBox #update_NN {
    position: relative;
    top: 15px;
}

.profileUpdate .profile {
    width: 100%;
    height: 100px;
    /* border: 1px solid #333; */
    position: relative;
    top: 50px;
}

.profileUpdate .profile #profileImg {
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid #fca391;
    border-radius: 5px;
}

.profileUpdate .profile #profileImg #viewImg {
    width: 100%;
    height: 100%;
}

.profileUpdate .profile #profileBtn {
    width: 100px;
    height: 20px;
    border: none;
    background-color: #fff;
    border: 1px solid #fca391;
    border-radius: 12.5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.profileUpdate .profile #profileBtn:hover {
    background-color: #fca391;
    color: #fff;
    cursor: pointer;
}
.profileUpdate .profile #profileBtn:active {
    background-color: #fca391;
    color: #fff;
    cursor: pointer;
}

.profileUpdate #introduceText {
    border-style: none;
    width: 100%;
    height: 60px;
    border: 1px solid #fca391;
    border-radius: 5px;
    position: relative;
    top: 70px;
}

.profileUpdate #introduceText textarea {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    border-radius: 5px;
    resize: none;
    font-family: 'Noto Sans KR', sans-serif;
}

.profileUpdate #btnDiv {
    width: 100%;
    height: 50px;
    /* border: 1px solid #333; */
    position: relative;
    top: 90px;
}
.profileUpdate #btnDiv #deleteUser {
    font-size: 8px;
}

.profileUpdate #btnDiv #UpdateUser {
    font-size: 20px;
}

.profileUpdate #btnDiv #deleteUser {
    width: 100%;
    height: 50%;
    background-color: #fff;
    color: #757575;
    border: 1px solid #fca391;
    border-radius: 5px;
    position: absolute;
    right: 0;
    bottom: -15px;
}

.profileUpdate #btnDiv #UpdateUser {
    width: 100%;
    height: 50%;
    background-color: #fca391;
    color: #fff;
    border: 1px solid #fca391;
    border-radius: 5px;
    font-size: 16px;
    position: absolute;
    left: 0;
}

.profileUpdate #btnDiv #deleteUser:hover {
    background-color: #fdd8d1;
}
.profileUpdate #btnDiv #deleteUser:active {
    background-color: #fdd8d1;
    border: 1px solid #333;
}

.profileUpdate #btnDiv #UpdateUser:hover {
    background-color: #fdd8d1;
    color: #333;
    cursor: pointer;
}
.profileUpdate #btnDiv #UpdateUser:active {
    background-color: #fdd8d1;
    color: #333;
    cursor: pointer;
}

@media (min-width: 1080px) {
    .container {
        width: 600px;
        min-height: 835px;
        margin: 150px auto 0;
    }

    .content > h3 {
        margin: 20px 0;
        font-size: 30px;
    }

    #titleImg {
        padding: 90px 0 10px 0;
    }

    .content {
        width: 600px;
        height: 750px;
    }

    .profileUpdate {
        width: 400px;
        height: 585px;
    }
    .profileUpdate .profileBox input {
        height: 40px;
    }

    .profileUpdate .profile {
        width: 100%;
        height: 150px;
        top: 100px;
    }

    .profileUpdate .profile #profileImg {
        width: 150px;
        height: 150px;
    }
    .profileUpdate .profile #profileBtn {
        width: 200px;
        height: 25px;
    }

    .profileUpdate #introduceText {
        height: 80px;
        top: 120px;
    }

    .profileUpdate #introduceText textarea {
        padding: 10px;
    }

    .profileUpdate #btnDiv {
        width: 100%;
        height: 50px;
        /* border: 1px solid #333; */
        position: relative;
        top: 145px;
    }

    .profileUpdate #btnDiv #deleteUser {
        font-size: 14px;
    }

    .profileUpdate #btnDiv #UpdateUser {
        font-size: 22px;
    }

    .profileUpdate #btnDiv #deleteUser {
        width: 100%;
        height: 50%;
        background-color: #fff;
        color: #757575;
        border: 1px solid #fca391;
        border-radius: 5px;
        position: absolute;
        right: 0;
        bottom: -30px;
    }

    .profileUpdate #btnDiv #UpdateUser {
        width: 100%;
        height: 100%;
        background-color: #fca391;
        color: #fff;
        border: 1px solid #fca391;
        border-radius: 5px;
        position: absolute;
        left: 0;
    }

    .profileUpdate #btnDiv #deleteUser:hover {
        background-color: #fdd8d1;
    }
    .profileUpdate #btnDiv #deleteUser:active {
        background-color: #fdd8d1;
        border: 1px solid #333;
    }

    .profileUpdate #btnDiv #UpdateUser:hover {
        background-color: #fdd8d1;
        color: #333;
        cursor: pointer;
    }
    .profileUpdate #btnDiv #UpdateUser:active {
        background-color: #fdd8d1;
        color: #333;
        cursor: pointer;
    }
}
