body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  color: rgb(108, 108, 108);
}
.container {
  min-height: 600px;
  width: 360px;
  margin: 80px auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.material-symbols-rounded.smart_toy {
  color: #ffc0b3;
  font-size: 30px;
}
#AIName {
  color: #ffc0b3;
  font-size: 11px;
}

#AIBox img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/*  --------- */

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

#infoRp {
  width: 350px;
  min-height: 450px;
  /* text-align: center; */
  margin: 0 auto;
  border: 2px solid #fdd8d1;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
#infoRp #title {
  width: 300px;
  height: 40px;
  border: 2px solid #fdd8d1;
  border-radius: 3px;
  margin: 20px auto 0px;
  opacity: 70%;
  padding-left: 10px;
}
#infoRp textarea {
  font-family: 'Noto Sans', sans-serif;
  width: 300px;
  height: 140px;
  border: 2px solid #fdd8d1;
  border-radius: 3px;
  margin: 0 auto;
  opacity: 70%;
  padding: 10px 10px;
  resize: none;
}
#infoRp #cookingInfoBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#cookingInfoBox span {
  font-size: 14px;
}

#infoRp #servings {
  width: 60px;
  height: 23px;
  border: 2px solid #fdd8d1;
  border-radius: 3px;
  text-align: center;
  opacity: 70%;
}
#infoRp #servingBox {
  margin-right: 20px;
}

#infoRp #cookingTime {
  width: 60px;
  height: 23px;
  border: 2px solid #fdd8d1;
  border-radius: 3px;
  opacity: 70%;
  text-align: center;
}

.uploadImg {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-top: 30px;
}
.uploadImg img {
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 13px;
  background-color: white;
  float: left;
  margin-right: 20px;
}

.uploadImg img[src=''] {
  display: none;
}

.uploadImg button {
  width: 130px;
  height: 30px;
  border: none;
  border-radius: 15px;
  background-color: #fca391;
  color: white;
  cursor: pointer;
  float: right;
}
.uploadImg button:hover {
  background-color: #fa6d51;
  color: white;
}

/*ingredient  */
#ingredients {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#ingredients h3 {
  margin: 0 5px;
}
#ingredients h5 {
  color: rgb(158, 158, 158);
}

#ingredient {
  width: 350px;
  min-height: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid #fdd8d1;
  border-radius: 5px;
}
#ingredient #ingredientInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#ingredient #ingredientInput span {
  font-size: 20px;
  margin-right: 5px;
}
#ingredientInput input {
  width: 100px;
  height: 25px;
  margin: 0 3px;
  border: 2px solid #fdd8d1;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}

#ingredient #inputButton1 {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 12.5px;
  text-align: center;
  background-color: #fca391;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
#ingredient #inputButton1:hover {
  background-color: #fa6d51;
}

#ingredient ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 10px;
}

#ingredient ul li span {
  color: white;
  font-size: 11px;
  margin: 0 5px;
}

#ingredient .ingredientBox {
  background-color: #fca391;
  height: 25px;
  border-radius: 12.5px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
}

#ingredient .remove-btn {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 5px;
}

/* cooking */
#cookingSteps {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#toolh3 {
  margin-top: 30px;
  margin-left: 10px;
}

#cookingTools {
  width: 350px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid #fdd8d1;
  border-radius: 5px;
}

#cookingToolInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#cookingTools input {
  width: 120px;
  height: 25px;
  border: 2px solid #fdd8d1;
  border-radius: 12px;
  text-align: center;
  opacity: 70%;
  margin-right: 20px;
}
#cookingTools #inputButton2 {
  width: 80px;
  height: 25px;
  border: none;
  border-radius: 12px;
  text-align: center;
  background-color: #fca391;
  color: white;
  cursor: pointer;
}
#cookingTools #inputButton2:hover {
  background-color: #fa6d51;
}

#cookingTools ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px 10px;
}

#cookingTools ul li span {
  font-size: 11px;
  margin: 0 5px;
  color: white;
}

#cookingTools .cookingToolBox {
  background-color: #fca391;
  height: 25px;
  border-radius: 12.5px;
  margin: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5px;
}

#cookingTools .remove-btn {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 11px;
  padding-left: 10px;
  padding-right: 5px;
}

/* cookingStep */
#cookingStepHBox {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cookingStepHBox h3 {
  margin: 0 5px;
}

#cookingStepHBox h5 {
  color: rgb(158, 158, 158);
}
#cookingStep {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid #fdd8d1;
  border-radius: 5px;
  margin: 5px;
}

#cookingStep > div {
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

#cookingStep #StepItem1 {
  border-top: 2px solid #fdd8d1;
}

#cookingStep #StepItem1.firstBox {
  border-top: none;
}

#cookingStep #pnone {
  border: none;
}

#cookingStep p {
  flex: 0 0 30px;
  margin: 0;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cookingStep textarea {
  flex: 1;
  font-family: 'Noto Sans', sans-serif;
  border: none;
  padding: 10px;
  resize: none;
  margin: 0;
}
.upload-box {
  position: relative;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fdd8d1;
  cursor: pointer;
  margin: 5px;
}
.upload-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fdd8d1;
}
#writeRpBtn {
  width: 200px;
  height: 30px;
  margin-left: 25%;
  text-align: center;
  background-color: #fca391;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}
#writeRpBtn:hover {
  background-color: #fa6d51;
}
@media screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    box-sizing: border-box;
  }
  header span {
    display: flex;
    flex-direction: column;
    color: #fdd8d1;
  }

  .container {
    width: 1080px;
    margin: 120px auto;
  }

  /*  AI레시피 생성 */
  #AIBox {
    top: 125px;
    right: 100px;
  }

  #AIBox #inputAI {
    padding-left: 10px;
    width: 300px;
    height: 40px;
    font-size: 13px;
    border: 1.5px solid #ffc0b3;
    border-radius: 7px;
  }

  #AIBox #generateButton {
    margin: 0 15px;
    border: none;
    border-radius: 20px;
    background-color: #ffc0b3;
    width: 90px;
    height: 30px;
    font-size: 12px;
    cursor: pointer;
  }

  #AIBox #openInputBox {
  }
  .material-symbols-rounded.smart_toy {
    color: #ffc0b3;
    font-size: 40px;
  }
  #AIName {
    color: #ffc0b3;
    font-size: 13px;
  }

  #AIBox img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  /*  --------- */

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  #infoRp {
    width: 1080px;
    min-height: 700px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
  }
  #infoRp #title {
    width: 800px;
    height: 50px;
    border: 3px solid #fdd8d1;
    border-radius: 5px;
    margin: 40px auto 0px;
    opacity: 70%;
    padding-left: 20px;
    font-size: 18px;
  }

  #infoRp textarea {
    width: 800px;
    height: 200px;
    border: 3px solid #fdd8d1;
    border-radius: 5px;
    opacity: 70%;
    padding: 10px 20px;
    font-size: 18px;
  }

  #infoRp #cookingInfoBox {
    margin-top: 30px;
  }

  #cookingInfoBox span {
    font-size: 18px;
    font-weight: bold;
  }

  #infoRp #servings {
    width: 100px;
    height: 30px;
    border: 3px solid #fdd8d1;
    border-radius: 5px;
    opacity: 70%;
  }
  #infoRp #servingBox {
    margin-right: 30px;
  }

  #infoRp #cookingTime {
    width: 100px;
    height: 30px;
    border: 3px solid #fdd8d1;
    border-radius: 5px;
    opacity: 70%;
  }

  .uploadImg {
    margin-top: 50px;
  }
  .uploadImg img {
    width: 200px;
    height: 200px;
    border-radius: 13px;
    background-color: white;
    float: left;
    margin-right: 50px;
  }

  .uploadImg button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    float: right;
  }
  .uploadImg button:hover {
    background-color: #fa6d51;
    color: white;
  }

  /*ingredient  */
  #ingredients {
    margin-top: 40px;
  }

  #ingredients h3 {
    margin: 0 5px;
  }
  #ingredients h5 {
    color: rgb(158, 158, 158);
  }

  #ingredient {
    width: 1080px;
    min-height: 200px;
    margin-top: 10px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
  }

  #ingredient #ingredientInput {
    margin-top: 20px;
  }

  #ingredient #ingredientInput span {
    font-size: 20px;
    margin-right: 5px;
  }

  #ingredientInput input {
    width: 200px;
    height: 40px;
    margin: 0 5px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
  }

  #ingredient #inputButton1 {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    margin-left: 10px;
    font-size: 14px;
  }

  #ingredient #inputButton1:hover {
  }

  #ingredient ul {
    margin: 10px 10px;
  }

  #ingredient ul li span {
    color: white;
    font-size: 15px;
    margin: 0 10px;
  }

  #ingredient .ingredientBox {
    background-color: #fca391;
    height: 35px;
    border-radius: 17.5px;
    margin: 10px 10px;
    padding: 0 10px;
  }

  #ingredient .remove-btn {
    font-size: 13px;
    padding-left: 10px;
    padding-right: 5px;
  }

  /* cooking */
  #cookingSteps {
  }

  #toolh3 {
    margin-top: 40px;
    margin-left: 10px;
  }

  #cookingTools {
    width: 1080px;
    min-height: 200px;
    margin-top: 10px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
  }

  #cookingToolInput {
    margin-top: 20px;
  }

  #cookingTools input {
    width: 200px;
    height: 40px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
    opacity: 70%;
    margin-right: 20px;
    font-size: 14px;
  }
  #cookingTools #inputButton2 {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    font-size: 14px;
  }
  #cookingTools #inputButton2:hover {
  }

  #cookingTools ul {
    margin: 10px 10px;
  }

  #cookingTools ul li span {
    color: white;
    font-size: 15px;
    margin: 0 10px;
  }

  #cookingTools .cookingToolBox {
    background-color: #fca391;
    height: 35px;
    border-radius: 17.5px;
    margin: 10px 10px;
    padding: 0 10px;
  }

  #cookingTools .remove-btn {
    font-size: 13px;
  }

  /* cookingStep */
  #cookingStepHBox {
    margin-top: 40px;
  }

  #cookingStepHBox h3 {
  }

  #cookingStepHBox h5 {
  }

  #cookingStep {
    width: 1080px;
    gap: 10px;
    border: 3px solid #fdd8d1;
    border-radius: 10px;
    margin: 5px;
    margin-top: 10px;
  }

  #cookingStep > div {
  }

  #cookingStep #StepItem1 {
    border-top: 3px solid #fdd8d1;
  }

  #cookingStep #StepItem1.firstBox {
    border-top: none;
  }

  #cookingStep #pnone {
    border: none;
  }

  #cookingStep p {
    flex: 0 0 30px;
    margin: 0 20px;
    font-size: 20px;
    font-weight: bold;
  }

  #cookingStep textarea {
    flex: 1;
    font-family: 'Noto Sans', sans-serif;
    padding: 20px 10px;
    font-size: 16px;
  }
  .upload-box {
    position: relative;
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fdd8d1;
    cursor: pointer;
    margin: 5px;
  }
  .upload-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .upload-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fdd8d1;
  }

  form #writeRpBtn {
    width: 400px;
    height: 60px;
    margin-left: 30%;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 20px;
  }
  form #writeRpBtn:hover {
    background-color: #fa6d51;
  }
}
